
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white text-center">Menu professeur</h1>
<div class="btn-group-sm text-white text-center">
    <a class="btn btn-info" asp-controller="Teacher" asp-action="key">Gestion de Clef Code Post</a>
    <a class="btn btn-info" asp-controller="Teacher" asp-action="Upload">Upload de travaux</a>
</div>
