
@{
    ViewData["Title"] = "key codepost";
}

@model rplp3.Models.ApiKey


<h1 class="text-white text-center">Clef api Codepost</h1>
<div class="text-center text-white container">
    <form asp-action="Key" asp-controller="Teacher">
        <label asp-for="PrivateKey"></label>
        <input asp-for="PrivateKey"  placeholder="0000000000000000000000000000000000000000" id="Key" pattern="[a-z0-9]{40}" />
        <input type="submit" />
        <br /> <br /><br /><br />
        <h6 class="text-white text-center">D&eacute;marche pour obtenir votre api key :</h6>
        <br />
        <div class="row">
            <img src="~/img/api-key-tutorial.gif" class="col col-md-12 col-sm-12" alt="sur codepost, obtenir votre api key dans les parametres de votre compte" />
        </div>
    </form>
</div>

<script type="text/javascript">
    // pour placer le curseur tout de suite dans le input du key
    document.getElementById("Key").focus();
    function submit_form() {
        var key = document.getElementById("Key");
        rgx = new Regexp("[a-z0-9]{40}");
        if (rgx.IsMatch(number) && key.length == 40) {
           location.href = '@Url.Action("Teacher", "Key")';
        }
        else {
           window.history.back();
        }
    }
</script>
