@model RPLP.MVC.Models.GestionDonneeViewModel

<form id="addTeacherToClassroomForm">
    <div class="titlePartial">
    <h2 >Ajouter un enseignant a une classe</H2>
    </div>

    <div class="form-group">
        <label for="addTeacherToClassroomOrgDropdown">Organisation</label>
        <select id="addTeacherToClassroomOrgDropdown" class="form-control" onchange="ajouterTeacherAClassroom.choisirOrg()">

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="addTeacherToClassroomClassroomDropdown">Classe</label>
        <select id="addTeacherToClassroomClassroomDropdown" class="form-control" onchange="ajouterTeacherAClassroom.choisirClassroom()" disabled>

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="addTeacherToClassroomTeacherDropdown">Enseignant</label>
        <select id="addTeacherToClassroomTeacherDropdown" class="form-control" disabled>

        </select>
        <br />
    </div>

  <input type="button" class="btn-lg btn-success titlePartial" onclick="ajouterTeacherAClassroom.AddTeacherToClassroom()" value="Ajouter">
  <input type="button" class="btn-lg btn-primary titlePartial" onclick="ajouterTeacherAClassroom.refreshForm()" value=" Rafraîchir le formulaire">
</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("addTeacherToClassroomOrgDropdown");
        select.appendChild(option);

        @foreach (var d in Model.Organisations)
        {
            @:var option = document.createElement("option");
            @:option.text = "@d.Name";
            @:option.value = "@d.Name";
            @:var select = document.getElementById("addTeacherToClassroomOrgDropdown");
            @:select.appendChild(option);
        }
    });

    var ajouterTeacherAClassroom  = {};
    var classrooms = [];
    var teachers = [];

    ajouterTeacherAClassroom.refreshForm = function ()
    {
       document.getElementById("addTeacherToClassroomForm").reset();
       document.getElementById("addTeacherToClassroomOrgDropdown").value = -1;

       const classes = document.getElementById("addTeacherToClassroomClassroomDropdown");
       classes.innerHTML = '';
       document.getElementById("addTeacherToClassroomClassroomDropdown").disabled = true;

       const classes2 = document.getElementById("addTeacherToClassroomTeacherDropdown");
       classes2.innerHTML = '';
       document.getElementById("addTeacherToClassroomTeacherDropdown").disabled = true;
    }

    ajouterTeacherAClassroom.choisirOrg = function ()
    {
       if(document.getElementById("addTeacherToClassroomOrgDropdown").value == -1)
       {
            const classes = document.getElementById("addTeacherToClassroomClassroomDropdown");
            classes.innerHTML = '';
            document.getElementById("addTeacherToClassroomClassroomDropdown").disabled = true;

             const classes2 = document.getElementById("addTeacherToClassroomTeacherDropdown");
             classes.innerHTML = '';
            document.getElementById("addTeacherToClassroomTeacherDropdown").disabled = true;
      
       } else {
            var orgName = document.getElementById("addTeacherToClassroomOrgDropdown").value;  
            ajouterTeacherAClassroom.GetClassroomsOfOrganisationByName(orgName);

            document.getElementById("addTeacherToClassroomClassroomDropdown").disabled = false;

             const classes = document.getElementById("addTeacherToClassroomTeacherDropdown");
            classes.innerHTML = '';
            document.getElementById("addTeacherToClassroomTeacherDropdown").disabled = true;
       }
    }

    ajouterTeacherAClassroom.choisirClassroom = function ()
    {
       if(document.getElementById("addTeacherToClassroomClassroomDropdown").value == -1)
       {
            const classes = document.getElementById("addTeacherToClassroomTeacherDropdown");
            classes.innerHTML = '';
            document.getElementById("addTeacherToClassroomTeacherDropdown").disabled = true;

      
       } else {
            var classroomName = document.getElementById("addTeacherToClassroomClassroomDropdown").value;  
            ajouterTeacherAClassroom.GetTeacherNotInClassroomByClassroomName(classroomName);

            document.getElementById("addTeacherToClassroomTeacherDropdown").disabled = false;
       }
    }

    ajouterTeacherAClassroom.AddTeacherToClassroom = function ()
    {
        var classroomName = document.getElementById("addTeacherToClassroomClassroomDropdown").value;
        var teacherUsername = document.getElementById("addTeacherToClassroomTeacherDropdown").value;

        var ajaxURL = '/RPLP/POSTAddTeacherToClassroom';

        $.post(ajaxURL,{
           ClassroomName : classroomName,
           TeacherUsername: teacherUsername
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    }

     ajouterTeacherAClassroom.GetClassroomsOfOrganisationByName = function (organisationName)
     {
       var ajaxURL = '/RPLP/GetClassroomsOfOrganisationByName';
        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { orgName : organisationName},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                classrooms = data;
                ajouterTeacherAClassroom.ShowClassrooms();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }

    ajouterTeacherAClassroom.GetTeacherNotInClassroomByClassroomName = function (classroomName)
     {
       var ajaxURL = '/RPLP/GetTeacherNotInClassroomByClassroomName';
        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { classroomName : classroomName},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                teachers = data;
                ajouterTeacherAClassroom.ShowTeachers();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }

    ajouterTeacherAClassroom.ShowClassrooms = function()
    {
        const classes = document.getElementById("addTeacherToClassroomClassroomDropdown");
        classes.innerHTML = '';

        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("addTeacherToClassroomClassroomDropdown");
        select.appendChild(option);

        classrooms.forEach(classroom => {
            var option = document.createElement("option");
            option.text = classroom.name;
            option.value = classroom.name;
            var select = document.getElementById("addTeacherToClassroomClassroomDropdown");
            select.appendChild(option);
        });
    }

    ajouterTeacherAClassroom.ShowTeachers = function()
    {
        const classes = document.getElementById("addTeacherToClassroomTeacherDropdown");
        classes.innerHTML = '';

        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("addTeacherToClassroomTeacherDropdown");
        select.appendChild(option);

        teachers.forEach(teacher => {
            var option = document.createElement("option");
            option.text = teacher.firstName + " " + teacher.lastName;
            option.value = teacher.username;
            var select = document.getElementById("addTeacherToClassroomTeacherDropdown");
            select.appendChild(option);
        });
    }
</script>
