@model RPLP.MVC.Models.GestionDonneeViewModel

<form id="removeStudentFromClassroomForm">
    <div class="titlePartial">
    <h2 >Retirer un étudiant a une classe</H2>
    </div>

    <div class="form-group">
        <label for="removeStudentFromClassroomOrgDropdown">Organisation</label>
        <select id="removeStudentFromClassroomOrgDropdown" class="form-control" onchange="retirerStudentDeClassroom.choisirOrg()">

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="removeStudentFromClassroomClassroomDropdown">Classe</label>
        <select id="removeStudentFromClassroomClassroomDropdown" class="form-control" onchange="retirerStudentDeClassroom.choisirClassroom()" disabled>

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="removeStudentFromClassroomStudentDropdown">Étudiant</label>
        <select id="removeStudentFromClassroomStudentDropdown" class="form-control" disabled>

        </select>
        <br />
    </div>

  <input type="button" class="btn-lg btn-danger titlePartial" value="Retirer">
  <input type="button" class="btn-lg btn-primary titlePartial" onclick="retirerStudentDeClassroom.refreshForm()" value=" Rafraîchir le formulaire">
</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("removeStudentFromClassroomOrgDropdown");
        select.appendChild(option);

        @foreach (var d in Model.Organisations)
        {
            @:var option = document.createElement("option");
            @:option.text = "@d.Name";
            @:option.value = "@d.Name";
            @:var select = document.getElementById("removeStudentFromClassroomOrgDropdown");
            @:select.appendChild(option);
        }
    });

    var retirerStudentDeClassroom  = {};
    var classrooms = [];
    var students = [];

    retirerStudentDeClassroom.refreshForm = function ()
    {
       document.getElementById("removeStudentFromClassroomForm").reset();
       document.getElementById("removeStudentFromClassroomOrgDropdown").value = -1;

       const classes = document.getElementById("removeStudentFromClassroomClassroomDropdown");
       classes.innerHTML = '';
       document.getElementById("removeStudentFromClassroomClassroomDropdown").disabled = true;

       const classes2 = document.getElementById("removeStudentFromClassroomStudentDropdown");
       classes2.innerHTML = '';
       document.getElementById("removeStudentFromClassroomStudentDropdown").disabled = true;
    }

    retirerStudentDeClassroom.choisirOrg = function ()
    {
       if(document.getElementById("removeStudentFromClassroomOrgDropdown").value == -1)
       {
            const classes = document.getElementById("removeStudentFromClassroomClassroomDropdown");
            classes.innerHTML = '';
            document.getElementById("removeStudentFromClassroomClassroomDropdown").disabled = true;

             const classes2 = document.getElementById("removeStudentFromClassroomStudentDropdown");
             classes.innerHTML = '';
            document.getElementById("removeStudentFromClassroomStudentDropdown").disabled = true;
      
       } else {
            var orgName = document.getElementById("removeStudentFromClassroomOrgDropdown").value;  
            retirerStudentDeClassroom.GetClassroomsOfOrganisationByName(orgName);

            document.getElementById("removeStudentFromClassroomClassroomDropdown").disabled = false;

             const classes = document.getElementById("removeStudentFromClassroomStudentDropdown");
            classes.innerHTML = '';
            document.getElementById("removeStudentFromClassroomStudentDropdown").disabled = true;
       }
    }

    retirerStudentDeClassroom.choisirClassroom = function ()
    {
       if(document.getElementById("removeStudentFromClassroomClassroomDropdown").value == -1)
       {
            const classes = document.getElementById("removeStudentFromClassroomStudentDropdown");
            classes.innerHTML = '';
            document.getElementById("removeStudentFromClassroomStudentDropdown").disabled = true;

      
       } else {
            var classroomName = document.getElementById("removeStudentFromClassroomClassroomDropdown").value;  
            retirerStudentDeClassroom.GetStudentsInClassroomByClassroomName(classroomName);

            document.getElementById("removeStudentFromClassroomStudentDropdown").disabled = false;
       }
    }


     retirerStudentDeClassroom.GetClassroomsOfOrganisationByName = function (organisationName)
     {
       var ajaxURL = '/RPLP/GetClassroomsOfOrganisationByName';
        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { orgName : organisationName},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                classrooms = data;
                retirerStudentDeClassroom.ShowClassrooms();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }

    retirerStudentDeClassroom.GetStudentsInClassroomByClassroomName = function (classroomName)
     {
       var ajaxURL = '/RPLP/GetStudentsInClassroomByClassroomName';
        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { classroomName : classroomName},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                students = data;
                retirerStudentDeClassroom.ShowStudents();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }

    retirerStudentDeClassroom.ShowClassrooms = function()
    {
        const classes = document.getElementById("removeStudentFromClassroomClassroomDropdown");
        classes.innerHTML = '';

        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("removeStudentFromClassroomClassroomDropdown");
        select.appendChild(option);

        classrooms.forEach(classroom => {
            var option = document.createElement("option");
            option.text = classroom.name;
            option.value = classroom.name;
            var select = document.getElementById("removeStudentFromClassroomClassroomDropdown");
            select.appendChild(option);
        });
    }

    retirerStudentDeClassroom.ShowStudents = function()
    {
        const classes = document.getElementById("removeStudentFromClassroomStudentDropdown");
        classes.innerHTML = '';

        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("removeStudentFromClassroomStudentDropdown");
        select.appendChild(option);

        students.forEach(teacher => {
            var option = document.createElement("option");
            option.text = teacher.firstName + " " + teacher.lastName;
            option.value = teacher.email;
            var select = document.getElementById("removeStudentFromClassroomStudentDropdown");
            select.appendChild(option);
        });
    }
</script>
