@model RPLP.MVC.Models.GestionDonneeViewModel

<form id="modifyStudentForm">
    <div class="titlePartial">
        <h2 >Modifier un étudiant</H2>
    </div>

    <div class="form-group">
        <select id="modifyStudentDropdown" class="form-control" onchange="modifierStudent.choisirStudent()">

        </select>
        <br/>
    </div>

    <div class="form-group">
        <label for="InputGithubUsernameModifyStudent">Github Username</label>
        <input type="text" class="form-control" name="InputGithubUsernameModifyStudent" id="InputGithubUsernameModifyStudent" disabled>
    </div>

    <div class="form-group">
        <label for="InputMatriculeModifyStudent">Matricule</label>
        <input type="text" class="form-control" name="InputMatriculeModifyStudent" id="InputMatriculeModifyStudent" disabled>
    </div>

    <div class="form-group">
        <label for="InputPrenomModifyStudent">Prénom</label>
        <input type="text" class="form-control" name="InputPrenomModifyStudent" id="InputPrenomModifyStudent" disabled>
    </div>

    <div class="form-group">
        <label for="InputNomModifyStudent">Nom</label>
        <input type="text" class="form-control" name="InputNomModifyStudent" id="InputNomModifyStudent" disabled>
    </div>

    <div class="form-group">
        <label for="InputEmailModifyStudent">Adresse courriel</label>
        <input type="email" class="form-control" name="InputEmailModifyStudent" id="InputEmailModifyStudent" disabled>
    </div>

    <div class="form-group">
        <input type="checkbox" class="form-check-input" id="inputCheckBoxModifyStudentIsTutor">
        <label for="inputCheckBoxModifyStudentIsTutor" class="form-check-label">Check pour Tuteur</label>
    </div>

    <input type="button" class="btn-lg btn-warning titlePartial" onclick="modifierStudent.verifyDataThenCreate()" value="Modifier">
    <input type="button" class="btn-lg btn-primary titlePartial" onclick="modifierStudent.refreshForm()" value=" Rafraîchir le formulaire">
</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("modifyStudentDropdown");
        select.appendChild(option);

        @foreach (var d in Model.Students)
        {
            @:var option = document.createElement("option");
            @:option.text = "@d.FirstName @d.LastName";
            @:option.value = "@d.Username";
            @:var select = document.getElementById("modifyStudentDropdown");
            @:select.appendChild(option);
        }
    });

    var modifierStudent = {};
    var student;

    modifierStudent.refreshForm = function ()
    {
       document.getElementById("modifyStudentForm").reset();
       $('input[name=InputGithubUsernameModifyStudent]').prop('disabled', true);
       $('input[name=InputPrenomModifyStudent]').prop('disabled', true);
       $('input[name=InputNomModifyStudent]').prop('disabled', true);
       $('input[name=InputEmailModifyStudent]').prop('disabled', true);
       $('input[name=InputMatriculeModifyStudent]').prop('disabled', true);
       $('input[name=inputCheckBoxModifyStudentIsTutor]').prop('disabled', true);
       document.getElementById("modifyStudentDropdown").value = -1;
    }

    modifierStudent.choisirStudent = function ()
    {
       if(document.getElementById("modifyStudentDropdown").value == -1)
       {
            $('input[name=InputGithubUsernameModifyStudent]').prop('disabled', true);        
            $('input[name=InputPrenomModifyStudent]').prop('disabled', true);
            $('input[name=InputNomModifyStudent]').prop('disabled', true);
            $('input[name=InputEmailModifyStudent]').prop('disabled', true);
            $('input[name=InputMatriculeModifyStudent]').prop('disabled', true);
            $('input[name=inputCheckBoxModifyStudentIsTutor]').prop('disabled', true);

            document.getElementById("InputGithubUsernameModifyStudent").value = "";
            document.getElementById("InputPrenomModifyStudent").value = ""
            document.getElementById("InputNomModifyStudent").value = "";
            document.getElementById("InputEmailModifyStudent").value = "";
            document.getElementById("InputMatriculeModifyStudent").value = "";
            document.getElementById("inputCheckBoxModifyStudentIsTutor").checked = false;
       } else {
            $('input[name=InputGithubUsernameModifyStudent]').prop('disabled', '');
            $('input[name=InputPrenomModifyStudent]').prop('disabled', '');
            $('input[name=InputNomModifyStudent]').prop('disabled', '');
            $('input[name=InputEmailModifyStudent]').prop('disabled', '');
            $('input[name=InputMatriculeModifyStudent]').prop('disabled', '');
            $('input[name=inputCheckBoxModifyStudentIsTutor]').prop('disabled', '');

            var Username = document.getElementById("modifyStudentDropdown").value;  
            var students = JSON.parse('@Html.Raw(Json.Serialize(Model.Students))');
            student = students.find(student => student.username == Username);

            document.getElementById("InputGithubUsernameModifyStudent").value = student.username;
            document.getElementById("InputPrenomModifyStudent").value = student.firstName;
            document.getElementById("InputNomModifyStudent").value = student.lastName;
            document.getElementById("InputEmailModifyStudent").value = student.email;
            document.getElementById("InputMatriculeModifyStudent").value = student.matricule;
            document.getElementById("inputCheckBoxModifyStudentIsTutor").checked = student.isTuteur;
       }
    }

    modifierStudent.verifyDataThenCreate = function()
    {
        var username = document.getElementById("InputGithubUsernameModifyStudent").value.trim() ;
        var prenom = document.getElementById("InputPrenomModifyStudent").value.trim() ;
        var nom = document.getElementById("InputNomModifyStudent").value.trim() ;
        var email = document.getElementById("InputEmailModifyStudent").value.trim() ;
        var matricule = document.getElementById("InputMatriculeModifyStudent").value.trim();
        var isTuteur = document.getElementById("inputCheckBoxModifyStudentIsTutor").checked;

        if(username == "" || prenom == "" || nom == "" || email == "" || matricule == "" )
        {
            alert("Veulliez remplir les champs vide");
        } else {
           modifierStudent.modifyStudent(student.id, username, prenom, nom, email, isTuteur, matricule);
        }
    }

    modifierStudent.modifyStudent = function(id, username, firstName, lastName, email, isTuteur, matricule)
    {
        var ajaxURL = '/RPLP/POSTUpsertStudent';

        $.post(ajaxURL,{
           Id : id,
           Username : username,
           FirstName : firstName,
           LastName : lastName,
           Email : email,
           IsTuteur : isTuteur,
           Matricule : matricule
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    }
</script>