@model RPLP.MVC.Models.GestionDonneeViewModel

<form id="modifyAdminForm">
    <div class="titlePartial">
    <h2 >Modifier un compte d’administrateur</H2>
    </div>

    <div class="form-group">
        <select id="modifyAdminDropdown" class="form-control" onchange="modifierAdmin.choisirAdmin()">

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="InputGithubUsernameModifyAdmin">Github Username</label>
        <input type="text" class="form-control" name="InputGithubUsernameModifyAdmin" id="InputGithubUsernameModifyAdmin" disabled>
    </div>

    <div class="form-group">
        <label for="InputGithubTokenModifyAdmin">Github Token</label>
        <input type="text" class="form-control" name="InputGithubTokenModifyAdmin" id="InputGithubTokenModifyAdmin" disabled>
    </div>

    <div class="form-group">
        <label for="InputPrenomModifyAdmin">Prénom</label>
        <input type="text" class="form-control" name="InputPrenomModifyAdmin" id="InputPrenomModifyAdmin" disabled>
    </div>

    <div class="form-group">
        <label for="InputNomModifyAdmin">Nom</label>
        <input type="text" class="form-control" name="InputNomModifyAdmin" id="InputNomModifyAdmin" disabled>
    </div>

    <div class="form-group">
        <label for="InputEmailModifyAdmin">Adresse courriel</label>
        <input type="email" class="form-control" name="InputEmailModifyAdmin" id="InputEmailModifyAdmin" disabled>
    </div>

  <input type="button" class="btn-lg btn-warning titlePartial" value="Modifier">
  <input type="button" class="btn-lg btn-primary titlePartial" onclick="modifierAdmin.refreshForm()" value=" Rafraîchir le formulaire">
</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("modifyAdminDropdown");
        select.appendChild(option);

        @foreach (var d in Model.Administrators)
        {
            @:var option = document.createElement("option");
            @:option.text = "@d.FirstName @d.LastName";
            @:option.value = "@d.Email";
            @:var select = document.getElementById("modifyAdminDropdown");
            @:select.appendChild(option);
        }
    });

    var modifierAdmin = {};

    modifierAdmin.refreshForm = function ()
    {
       document.getElementById("modifyAdminForm").reset();
       $('input[name=InputGithubUsernameModifyAdmin]').prop('disabled', true);
       $('input[name=InputGithubTokenModifyAdmin]').prop('disabled', true);
       $('input[name=InputPrenomModifyAdmin]').prop('disabled', true);
       $('input[name=InputNomModifyAdmin]').prop('disabled', true);
       $('input[name=InputEmailModifyAdmin]').prop('disabled', true);
       document.getElementById("modifyAdminDropdown").value = -1;
    }

    modifierAdmin.choisirAdmin = function ()
    {
       if(document.getElementById("modifyAdminDropdown").value == -1)
       {
            $('input[name=InputGithubUsernameModifyAdmin]').prop('disabled', true);
            $('input[name=InputGithubTokenModifyAdmin]').prop('disabled', true);
            $('input[name=InputPrenomModifyAdmin]').prop('disabled', true);
            $('input[name=InputNomModifyAdmin]').prop('disabled', true);
            $('input[name=InputEmailModifyAdmin]').prop('disabled', true);

            document.getElementById("InputGithubUsernameModifyAdmin").value = "";
            document.getElementById("InputGithubTokenModifyAdmin").value = "";
            document.getElementById("InputPrenomModifyAdmin").value = ""
            document.getElementById("InputNomModifyAdmin").value = "";
            document.getElementById("InputEmailModifyAdmin").value = "";
       } else {
            $('input[name=InputGithubUsernameModifyAdmin]').prop('disabled', '');
            $('input[name=InputGithubTokenModifyAdmin]').prop('disabled', '');
            $('input[name=InputPrenomModifyAdmin]').prop('disabled', '');
            $('input[name=InputNomModifyAdmin]').prop('disabled', '');
            $('input[name=InputEmailModifyAdmin]').prop('disabled', '');

            var email = document.getElementById("modifyAdminDropdown").value;  
            var admins = JSON.parse('@Html.Raw(Json.Serialize(Model.Administrators))');
            var admin = admins.find(admin => admin.email == email);

            document.getElementById("InputGithubUsernameModifyAdmin").value = admin.username;
            document.getElementById("InputGithubTokenModifyAdmin").value = admin.token;
            document.getElementById("InputPrenomModifyAdmin").value = admin.firstName;
            document.getElementById("InputNomModifyAdmin").value = admin.lastName;
            document.getElementById("InputEmailModifyAdmin").value = admin.email;
       }
    }
</script>
