@model RPLP.MVC.Models.GestionDonneeViewModel

<form id="addStudentToClassroomFormBatch">
    <div class="titlePartial">
    <h2 >Ajouter un étudiant à une classe en lot</H2>
    </div>

    <div class="form-group">
        <label for="addStudentToClassroomOrgDropdownBatch">Organisation</label>
        <select id="addStudentToClassroomOrgDropdownBatch" class="form-control" onchange="ajouterStudentAClassroomBatch.choisirOrg()">

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="addStudentToClassroomClassroomDropdownBatch">Classe</label>
        <select id="addStudentToClassroomClassroomDropdownBatch" class="form-control" onchange="ajouterStudentAClassroomBatch.choisirClassroom()" disabled>

        </select>
        <br />
    </div>

    <div class="form-group">
        <label for="InputAjouterStudentAClassroomBatch">Étudiants</label>
         <textarea class="form-control rounded-0" id="InputAjouterStudentAClassroomBatch" rows="10" placeholder='="matricule";
...'></textarea>
    </div>

  <input type="button" class="btn-lg btn-success titlePartial" onclick="ajouterStudentAClassroomBatch.AddStudentToClassroom()" value="Ajouter">
  <input type="button" class="btn-lg btn-primary titlePartial" onclick="ajouterStudentAClassroomBatch.refreshForm()" value=" Rafraîchir le formulaire">
</form>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("addStudentToClassroomOrgDropdownBatch");
        select.appendChild(option);

        @foreach (var d in Model.Organisations)
        {
            @:var option = document.createElement("option");
            @:option.text = "@d.Name";
            @:option.value = "@d.Name";
            @:var select = document.getElementById("addStudentToClassroomOrgDropdownBatch");
            @:select.appendChild(option);
        }
    });

    var ajouterStudentAClassroomBatch  = {};
    var classrooms = [];

    ajouterStudentAClassroomBatch.refreshForm = function ()
    {
       document.getElementById("addStudentToClassroomFormBatch").reset();
       document.getElementById("addStudentToClassroomOrgDropdownBatch").value = -1;

       const classes = document.getElementById("addStudentToClassroomClassroomDropdownBatch");
       classes.innerHTML = '';
       document.getElementById("addStudentToClassroomClassroomDropdownBatch").disabled = true;
    }

    ajouterStudentAClassroomBatch.choisirOrg = function ()
    {
       if(document.getElementById("addStudentToClassroomOrgDropdownBatch").value == -1)
       {
            const classes = document.getElementById("addStudentToClassroomClassroomDropdownBatch");
            classes.innerHTML = '';
            document.getElementById("addStudentToClassroomClassroomDropdownBatch").disabled = true;

      
       } else {
            var orgName = document.getElementById("addStudentToClassroomOrgDropdownBatch").value;  
            ajouterStudentAClassroomBatch.GetClassroomsOfOrganisationByName(orgName);

            document.getElementById("addStudentToClassroomClassroomDropdownBatch").disabled = false;
       }
    }

    ajouterStudentAClassroomBatch.choisirClassroom = function ()
    {
       if(document.getElementById("addStudentToClassroomClassroomDropdownBatch").value == -1)
       {

       } else {
            var classroomName = document.getElementById("addStudentToClassroomClassroomDropdownBatch").value;
       }
    }

    ajouterStudentAClassroomBatch.AddStudentToClassroom = function ()
    {
        var classroomName = document.getElementById("addStudentToClassroomClassroomDropdownBatch").value;
        var studentstring = document.getElementById("InputAjouterStudentAClassroomBatch").value;

        var ajaxURL = '/RPLP/POSTAddStudentToClassroomBatch';

        $.post(ajaxURL,{
           ClassroomName : classroomName,
           StudentString: studentstring
        },
        function(data, status){
            alert("Data: " + data + "\nStatus: " + status);
        });
    }


     ajouterStudentAClassroomBatch.GetClassroomsOfOrganisationByName = function (organisationName)
     {
       var ajaxURL = '/RPLP/GetClassroomsOfOrganisationByName';
        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { orgName : organisationName},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                classrooms = data;
                ajouterStudentAClassroomBatch.ShowClassrooms();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }

    ajouterStudentAClassroomBatch.ShowClassrooms = function()
    {
        const classes = document.getElementById("addStudentToClassroomClassroomDropdownBatch");
        classes.innerHTML = '';

        var option = document.createElement("option");
        option.text = "Faites un choix";
        option.value = -1;
        var select = document.getElementById("addStudentToClassroomClassroomDropdownBatch");
        select.appendChild(option);

        classrooms.forEach(classroom => {
            var option = document.createElement("option");
            option.text = classroom.name;
            option.value = classroom.name;
            var select = document.getElementById("addStudentToClassroomClassroomDropdownBatch");
            select.appendChild(option);
        });
    }
</script>
