
@{
    ViewData["Title"] = "Erreur - Fichier ZIP introvable";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}
<hr />
<div class="text-left">
    <br />
    <h2 style="color:red">Échec !</h2>
    <br />
    <h6>Le fichier ZIP a été réfusé pour des raisons de sécurité !</h6>
    <h6>Tapez de nouveau le nom du travail et les points ensuite cliquez sur le bouton 'Ajouter fichier ZIP' et en choisissez un autre !</h6>
    <br />
</div>
