
@{
    ViewData["Title"] = "Erreur";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}
<br />
<hr />
<div class="text-left">
    <br />
    <h2 style="color:red">Échec !</h2>
    <br />
    <h6>Les travaux n'appartiennent pas aux étudiants de ce cours. Vérifiez le <strong>choix du cours/fichier ZIP</strong> ou la <strong>liste des étudiants</strong>.</h6>
    <h6>L'assignment a été supprimé !</h6>
    <br />
</div>
<br />
