
@{
    ViewData["Title"] = "Erreur - Fichier ZIP introvable";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}
<br />
<hr />
<div class="text-left">
    <br />
    <h2 style="color:red">Échec !</h2>
    <br />
    <h6>Les travaux des étudiants n'ont pas été envoyés au site Web Codepost ! L'assignment a été supprimé ! </h6>
    <h6>Vérifier le fichier ZIP.</h6>
    <br />
</div>
<br />
