
@{
    ViewData["Title"] = "Ajouter fichier ZIP";

}

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Retourner" onclick="location.href='@Url.Action("Index", "Teacher")'" />
</div>
