
@{
    ViewData["Title"] = "Aide - Ajouter un cours";
}

    <div class="text-left">
        <br />
        <h2>Aide > <strong class="text-gris">Sélectionner un cours</strong></h2>
        <br />
        <p>Avant de sélectionner un cours dans la liste, il doit d'abord être créé sur le site Web de Codepost.</p>
        <div>
            <hr />
            <p>01. Connectez-vous au site Web de Codepost et cliquez sur le bouton <strong>"Create a course"</strong></p>
            <hr />
            <img src="~/img/aide-ajouterCours-01.jpg" />
        </div>
        <div>
            <hr />
            <p>02. Saisir les informations du cours et cliquer sur <strong>“Create”</strong></p>
            <hr />
            <img src="~/img/aide-ajouterCours-02.jpg" />
        </div>
        <div>
            <hr />
            <p>03. Revenir sur le site Revue par les pairs et cliquer sur <strong>“Refresh”</strong></p>
            <hr />
            <img src="~/img/aide-ajouterCours-03.jpg" />
        </div>
        <div>
            <hr />
            <p>04. Sélectionner le cours dans la liste</p>
            <hr />
        </div>
        <br />
        <br />
    </div>
