
@{
    ViewData["Title"] = "Erreur - Liste de étudiants vide";
    RplpAvecBD.Model.Course coursChoisi = ViewBag.coursChoisi;
}

<div class="text-left">
    <br />
    <h2 style="color:red">Échec !</h2>
    <br />
    <h6>@ViewBag.message</h6>
    <br />
</div>

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Retourner" onclick="location.href='@Url.Action("Index", "Teacher")'" />
</div>