
@{
    ViewData["Title"] = "Guide CodePost Professeur";

    <style>
        .collapsible {
            background-color: #ebeef1;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            margin-bottom: 15px;
        }

            .active, .collapsible:hover {
                background-color: #685e77;
                color: white;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
        }
    </style>
}

@section scripts {

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
}



<br />
<h2>Guide Codepost > <strong class="text-gris">Professeur</strong></h2>
<br />

<button type="button" class="collapsible"><h6># Créer un compte sur le site Web Codepost</h6></button>
<div class="content">
    <hr />
    <p>01. Connectez-vous au site Web de <a href="https://codepost.io/" target="_blank">Codepost</a> et cliquez sur le bouton <strong>"Sign in"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/01 - sign in.jpg" />
    <hr />
    <p>02. Cliquer sur le bouton <strong>"Create Course"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/02 - sign in.jpg" />
    <hr />
    <p>03. Entrer votre courriel du Cégep et l'autres informations comme il est montré dans l'image ci-dessous</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/03 - sign in.jpg" />
    <hr />
    <p>04. Cliquer sur le bouton <strong>"Use this email address"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/04 - sign in.jpg" />
    <hr />
    <p>05. Vérifier votre courriel.</p>
    <p style="margin-left:26px;"><strong>REMARQUE: Vérifier dans la boite de courriels indésirables</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/05 - sign in.jpg" />
    <hr />
    <p>06. Dans votre courriel, cliquer sur le bouton <strong>"Validate Email"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/06 - sign in.jpg" />
    <hr />
    <p>07. Créer votre mot-de-passe et cliquer sur le bouton <strong>"Submit"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/07 - sign in.jpg" />
    <hr />
    <p>08. Cliquer sur le bouton <strong>"Logging in"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/08 - sign in.jpg" />
    <hr />
    <p>09. Entrer vos informations de connexion et cliquer sur le bouton <strong>"Continue"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/09 - sign in.jpg" />
    <hr />
    <p>10. <strong>Félicitations !</strong> Vous avez bien créé votre compte de Professeur sur le site web Codepost !</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCompte/10 - sign in.jpg" />

</div>

<button type="button" class="collapsible"><h6># Créer votre clé de l'API CodePost et l'ajouter dans le système Revue par les pairs</h6></button>
<div class="content">
    <hr />
    <p>01. Cliquer sur le bouton <strong>"User Settings"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerAPIKey/01 - Creer api key.jpg" />
    <hr />
    <p>02. Cliquer sur le bouton <strong>"Create your first API Token"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerAPIKey/02 - Creer api key.jpg" />
    <hr />
    <p>03. Copier votre clé de l'API</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerAPIKey/03 - Creer api key.jpg" />
    <hr />
    <p>04. Aller sur la page <strong>Paramètres</strong> dans le système Revue par les pairs</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerAPIKey/04 - Creer api key.jpg" />
    <hr />
    <p>05. Ajouter votre <strong>clé de l'API </strong> ainsi que votre <strong>nom complet</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerAPIKey/05 - Creer api key.jpg" />
</div>

<button type="button" class="collapsible"><h6># Créer un cours</h6></button>
<div class="content">
    <hr />
    <p>01. Cliquer sur le bouton <strong>"Create a course"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCours/01 - Creer cours.jpg" />
    <hr />
    <p>02. Entrer les informations du cours et cliquer sur le bouton <strong>"Create"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/CreerCours/02 - Creer cours.jpg" />
</div>


<button type="button" class="collapsible"><h6># Faire de la revue de code des étudiants</h6></button>
<div class="content">
    <hr />
    <p>01. Choisir le rôle <strong>"d’évaluateur"</strong> (il y a deux chemins possibles pour y arriver)</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/01 - Faire revue.jpg" />
    <hr />
    <p>02. Choisir le cours souhaité</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/02 - Faire revue.jpg" />
    <hr />
    <p>03. Choisir un travail et cliquer sur l’icône <strong>“Zoom in”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/03 - Faire revue.jpg" />
    <hr />
    <p>04. Cliquer sur le bouton <strong>“Claim”</strong> pour prende le travail d'un étudiant</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/04 - Faire revue.jpg" />
    <hr />
    <p>05. Cliquer sur l'icône <strong>“Open”</strong> pour vérifier son travail</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/05 - Faire revue.jpg" />
    <hr />
    <p>06. REMARQUE: Les professeur peuvent connaître l’auteur du code en appuyant sur <strong>“reveal”</strong> et l’auteur du commentaire également, s’il y en a un.</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/06 - Faire revue.jpg" />
    <hr />
    <p>07. Séléctionner une ligne du code pour ajouter un commentaire ou cliquer sur le commentaire existent pour le modifier.</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/07 - Faire revue.jpg" />
    <hr />
    <p>08. Cliquer sur l’icône du <strong>menu</strong> et ensuite sur le bouton <strong>“Claim another submission”</strong> pour prendre le travail d'un autre étudiant</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/08 - Faire revue.jpg" />
    <hr />
    <p>09. Cliquer sur l’icône du <strong>menu</strong> et ensuite sur le bouton <strong>“Home”</strong> afin de libérer les travaux que vous avez pris aux autres étudiants</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/09 - Faire revue.jpg" />
    <hr />
    <p>10. Choisir le rôle <strong>"d’évaluateur"</strong> ( il y a deux chemins possibles pour y arriver )</p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/10 - Faire revue.jpg" />
    <hr />
    <p>11. Cliquer sur l'icône <strong>"Unclaim"</strong> puis sur le bouton <strong>"Unclaim"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/11 - Faire revue.jpg" />
    <hr />
    <p>12. Pour choisir un autre cours afin de faire de la revue, cliquer sur <strong>"Claimed by me"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostProfesseur/FaireRevue/12 - Faire revue.jpg" />
</div>

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Retourner" onclick="location.href='@Url.Action("Index", "Teacher")'" />
</div>
<br />
<br />
