
@{
    ViewData["Title"] = "Succès";

}

<div class="text-left">
    <br />
    <h2 style="color:green">Succès !</h2>
    <br />
    <h6>Le travail <strong>@ViewBag.nomTravail</strong> a été créé avec succès sur le site Web Codepost.</h6>
    <br />
</div>

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Aller à la page Assignments" onclick="location.href='@Url.Action("Index", "Teacher")'" />
</div>