
@{
    ViewData["Title"] = "Paramètres";
}

<div class="text-left">
    <br />
    <h2 style="color:forestgreen">Succès !</h2>
    <br />
    <h6>Vos informations ont été mises à jour avec succès.</h6>
    <br />
</div>

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Aller à la page Assignments" onclick="location.href='@Url.Action("Index", "Teacher")'" />
</div>
