
@{
    ViewData["Title"] = "AjoutTravailResult";

    //if (ViewData["AjoutTravailResult"].Equals("Erreur"))
    //{
        <div class="text-left">
            <br />
            <h2 style="color:red">Échec !</h2>
            <br />
            <h6>Le travail <strong>@ViewData["id"]</strong> n'a pas été créé.</h6>
            <h6>Vérifier que les informations sont correctes.</h6>
            <br />
        </div>
    @*}
    else
    {
        <div class="text-left">
            <br />
            <h2 style="color:forestgreen">Succès !</h2>
            <br />
            <h6>Le travail <strong>@ViewData["id"]</strong> a été créé avec succès.</h6>
            <br />
        </div>
    }*@
}

<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Retour" onclick="location.href='@Url.Action("Index", "Home")'" />
</div>