@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model DataTable

@*
	//Commentaire
*@

<div>
    <hr/>
    <table id="logsTable" class="table table-striped">
        <thead>
        <tr>
            @foreach (DataColumn dc in Model.Columns)
            {
                <th>@dc.ColumnName</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @foreach (DataColumn dc in Model.Columns)
                {
                    <td class="text-truncate" style="max-width: 200px;">@dr[dc.ColumnName]</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<script type="text/javascript">
function clickHandler() {
    if (this.classList.contains('show')){
        this.classList.add('text-truncate');
        this.classList.remove('show');
    }else{
        this.classList.add('show');
        this.classList.remove('text-truncate');
    }
}
document.querySelectorAll('#logsTable td')
    .forEach(e => e.addEventListener("click", clickHandler));
</script>