@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@model DataTable

@*
	//Commentaire
*@

<div>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            @foreach (DataColumn dc in Model.Columns)
            {
                <th>@dc.ColumnName</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                @foreach (DataColumn dc in Model.Columns)
                {
                    <td>@dr[dc.ColumnName]</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>