@{
    ViewData["Title"] = "Vie Privée";
}
<h1 class="text-white text-center">@ViewData["Title"]</h1>

<p class="text-white text-center">Nous ne collectons pas d'information vous concernant...promis!, il y a d&eacute;j&agrave; facebook pour &ccedil;a.</p>
