
@{
    ViewData["Title"] = "Guide CodePost";

    <style>
        .collapsible {
            background-color: #ebeef1;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            margin-bottom: 15px;
        }

            .active, .collapsible:hover {
                background-color: #685e77;
                color: white;
            }

        .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
        }
    </style>
}

@section scripts {

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
}

<br />
<h2>Guide Codepost > <strong class="text-gris">Étudiant</strong></h2>
<br />

<button type="button" class="collapsible"><h6># Créer un compte sur le site Web Codepost</h6></button>
<div class="content">
    <hr />
    <p>01. Vous devez ouvrir votre courriel du Cégep et cliquer sur le bouton <strong>“Create Account”</strong> qui se trouve à l’intérieur du courriel reçu de CodePost.</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/CreerCompte/01 - Creer compte.jpg" />
    <hr />
    <p>02. Choisir un mot de passe pour se connecter au site Web CodePost, ensuite cliquer sur le bouton <strong>“Submit”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/CreerCompte/02 - Creer compte.jpg" />
    <hr />
    <p>03. Cliquer sur <strong>“logging in”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/CreerCompte/03 - Creer compte.jpg" />
    <hr />
    <p>04. Entrer l’adresse courriel et le mot de passe, ensuite cliquer sur le bouton <strong>“Continue”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/CreerCompte/04 - Creer compte.jpg" />
    <hr />
    <p>05. Aperçu de l’Interface graphique des étudiants</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/CreerCompte/05 - Creer compte.jpg" />
</div>

<button type="button" class="collapsible"><h6># Faire de la revue de code d'autres étudiants</h6></button>
<div class="content">
    <hr />
    <p>01. Choisir le rôle <strong>"d’évaluateur"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/01 - Faire revue.jpg" />
    <hr />
    <p>02. Choisir le cours souhaité</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/02 - Faire revue.jpg" />
    <hr />
    <p>03. Choisir un travail et cliquer sur l’icône <strong>“Zoom in”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/03 - Faire revue.jpg" />
    <hr />
    <p>04. Cliquer sur le bouton <strong>“Claim”</strong> pour prende le travail d'un étudiant</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/04 - Faire revue.jpg" />
    <hr />
    <p>05. Cliquer sur l'icône <strong>“Open”</strong> pour vérifier son travail</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/05 - Faire revue.jpg" />
    <hr />
    <p>06. <strong>REMARQUE:</strong> Les étudiants sont anonymes</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/06 - Faire revue.jpg" />
    <hr />
    <p>07. Séléctionner une ligne du code pour ajouter un commentaire.</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/07 - Faire revue.jpg" />
    <hr />
    <p>08. <strong>REMARQUE:</strong> Exemple de travail avec plusieurs fichiers/répertoires, vous devez faire la revue de chaque fichier.</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/08 - Faire revue.jpg" />
    <hr />
    <p>09. Pour libérer le travail que vous venez de corriger afin que les autres étudiants puissent faire leur revue, il suffit de cliquer sur l'icône <strong>“Unclaim”</strong></p>
    <p style="margin-left:26px;"><strong>REMARQUE:</strong> Cependant, il existe, présentement, un bug avec cette fonctionnalité sur le site Web CodePost (Ils travaillent là-dessus pour le régler)</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/09 - Faire revue.jpg" />
    <hr />
    <p>10. Afin de <strong>contourner</strong> le bug, pour libérer un travail, copier le code de l'étudiant</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/10 - Faire revue.jpg" />
    <hr />
    <p>11. Sur le système Revue par les pairs, dans la page <strong>"Unclaim"</strong>, sélectionner votre professeur</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/11 - Faire revue.jpg" />
    <hr />
    <p>12. Coller le code de l'étudiant et cliquer sur le bouton <strong>"Unclaim"</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/FaireRevue/12 - Faire revue.jpg" />
</div>

<button type="button" class="collapsible"><h6># Vérifier la revue qui a été faite sur votre travail</h6></button>
<div class="content">
    <hr />
    <p>01. Choisir le rôle <strong>"d’étudiant"</strong> (il y a deux chemins possibles pour y arriver)</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/VerifierRevue/01 - Verifier revue.jpg" />
    <hr />
    <p>02. Choisir le cours souhaité</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/VerifierRevue/02 - Verifier revue.jpg" />
    <hr />
    <p>03. Cliquer sur le bouton <strong>“View feedback”</strong></p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/VerifierRevue/03 - Verifier revue.jpg" />
    <hr />
    <p>04. Il montre quel fichier a des commentaires et, une fois que vous cliquez sur le fichier, il affiche les commentaires qu'y ont été ajoutés (sans révéler l'évaluateur)</p>
    <hr />
    <img src="~/img/GuideCodepostEtudiant/VerifierRevue/04 - Verifier revue.jpg" />
</div>


<hr />
<div>
    <input type="button" class="btn btn-primary" id="btnReturn" value="Retourner" onclick="location.href='@Url.Action("Index", "Student")'" />
</div>
<br />
<br />
