@using RPLP.MVC.Controllers
@using System.Data;
@model RPLP.MVC.Models.AllocationsViewModel;

<head>
    <meta charset="UTF-8">
</head>

@if (Model is not null && Model.Pairs.Count > 0)
{
    <div class="container mt-3">
    <table id="allocationContent" class="table table-striped">
        <thead>
            <tr>
                <th>RepositoryName</th>
                <th>StudentName</th>
                <th>TeacherName</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AllocationViewModel dr in Model.Pairs)
            {
                <tr>
                    <td class="text-truncate" style="max-width: 200px;">@dr.RepositoryName</td>
                    <td class="text-truncate" style="max-width: 200px;">@dr.StudentName</td>
                    <td class="text-truncate" style="max-width: 200px;">@dr.TeacherName</td>
                    <td class="text-truncate" style="max-width: 200px;">@dr.Status</td>
                </tr>
            }
        </tbody>
    </table>
</div>
}


<script src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    var allocations = [];
    setInterval(GetAllocationsInformations("H23_4393_AMOC", "H23_4393_AMOC_TP3"), 5000);
    //function ShowAllocations() {
    //    var myDiv = document.getElementById("allocationContent");
    //    myDiv.replaceChildren();

    //    allocations.Pairs.forEach(allocation => {
    //        var button = document.createElement("BUTTON");
    //        button.innerHTML = allocations.RepositoryName;
    //        button.classList.add("btn-lg", "btn-outline-primary", "p-2", "buttons");
    //        button.setAttribute('id', allocations.RepositoryName);
    //        myDiv.appendChild(button);
    //    });
    //}
    function GetAllocationsInformations(classroomName, assignementName) {
        var ajaxURL = '/RPLP/Allocations/GetAllocationsInformations';

        $.ajax({
            type: 'GET',
            url: ajaxURL,
            data: { classroomName: classroomName, assignementName: assignementName },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                console.log('firing ajax call');
            },
            success: function (data) {
                //allocations = data;
                //ShowAllocations();
            },
            error: function (ex) {
                console.log('Error');
            }
        });
    }
</script>
