@page

@section head{
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
}
<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">*@
    <title>Login Page</title>

</head>

<body style="background-image: url(img/background-home.jpg); background-repeat: no-repeat; background-size: cover">
    <div class="container">

        <div class="row">
            <center>
                <img src="img/logo-home.png" />
            </center>
        </div>

        <div class="row">
            <center>
                <h1>Professeurs  |  Étudiants</h1>
            </center>
        </div>

        <div class="row">
            <center>
                <img src="~/img/btn-connexion.png" />
            </center>
        </div>

        <div class="row">
            <center>
                <p>Utiliser les mêmes informations d'identification Omnivox.</p>
            </center>
        </div>

        <div class="row">
            <center>
                <p>Utiliser les mêmes informations d'identification Omnivox.</p>
            </center>
        </div>

    </div>
</body>



</html>